<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Department</label>
                    <select name="" id="" class="form-control">
                        <option value="General Practitioner">General Practitioner</option>
                        <option value="Podiatrist">Podiatrist</option>
                        <option value="Endocrinologist">Endocrinologist</option>
                        <option value="Neurologist">Neurologist</option>
                        <option value="Rheumatologist">Rheumatologist</option>
                        <option value="Psychiatrist">Psychiatrist</option>
                        <option value="Nephrologist">Nephrologist</option>
                        <option value="Pulmonologist">Pulmonologist</option>
                        <option value="Ophthalmologist">Ophthalmologist</option>
                        <option value="Ortho">Ortho</option>
                    </select>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"><button class="btn btn-success">Search</button></div>
            </div>
        </div>
    </div>
</div>
