<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                            <img height="500" width="500" src="https://tse4.mm.bing.net/th?id=OIP.wymMLUU57sFYLg-4wpbWrQHaE8&pid=Api&P=0&w=264&h=176" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img height="500" width="500" src="https://tse2.mm.bing.net/th?id=OIP.wxlSOBRc83TllNJDzRtyggHaFj&pid=Api&P=0&w=216&h=162" class="d-block w-100" alt="...">
                          </div>
                          <div class="carousel-item">
                            <img height="500" width="500" src="https://tse2.mm.bing.net/th?id=OIP.UZYBB6rtfckRY-VcsQhtdgHaEq&pid=Api&P=0&w=279&h=176" class="d-block w-100" alt="...">
                          </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">About Us</label>
                    <p>Cosmo Hospital is a landmark tertiary Healthcare destination at Sector 62, Phase 8, Mohali, promoted by a team of professionals. The multi specialty hospital is a Modern Diagnostic Centre and has a capacity of 60 beds. The technology advantage is complemented by the man power excellence providing sophisticated and specialized medical care at affordable cost. Hospital is strategically located in Mohali (Pb) township bordering Chandigarh, having large, affluent and increasing corporate population.</p>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Aim</label>
                    <p>To provide each and every patient the best treatment in an environment full of compassion, care and commitment.</p>
                </div>
            </div>
        </div>
    </div>
</div>
